APP_NAME=Workflow IA API
APP_ENV=development
APP_PORT=8000
DB_PASSWORD=CHANGE_ME
MONGODB_URI=mongodb+srv://admin_eduardo:${DB_PASSWORD}@primer-parcial-mongodb.gsonomu.mongodb.net/?appName=primer-parcial-mongodb
MONGODB_DB=workflow_ia
JWT_SECRET=change-this-secret
JWT_EXPIRE_MINUTES=1440
GEMINI_API_KEY=CHANGE_ME
GEMINI_MODEL=gemini-2.5-flash
ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
